/* .element {
  shape-outside: ellipse(100px 200px at 50% 50%);
  shape-outside: circle(50%);
  width: 300px;
  height: 500px;
  float: left;
  left: -150px;
  opacity: 0;
} */

.box {
  position: absolute;
  font-size: 24px;

  width: 0px;
  height: 0px;


  width: 100px;
  height: 20px;

  padding: 10px 10px 16px 16px;
  border-radius: 18px;
  /* text-align: center; */

  transition: all 0.6s ease-in-out;
}
.master {
  top: 0px;
  left: 0px;
  width: 500px;
  height: 600px;
  position: absolute;
  overflow: hidden;
}

.pNone{
  top: 0px;
  left: -30px;
  /* display: none; */
  margin-bottom: -200px;
}

.p1{
  top: 10px;
  left: 65px;
}
.p2{
  top: 30px;
  left: 140px;
}
.p3{
  top: 90px;
  left: 220px;
}
.p4{
  top: 140px;
  left: 260px;
}
.p5{
  top: 215px;
  left: 280px;
  
  box-shadow: 10px 13px 29px 4px rgba(0,0,0,0.26);
  /* border: 1px solid black */
}
.p6{
  top: 290px;
  left: 260px;
}
.p7{
  top: 365px;
  left: 220px;
}
.p8{
  top: 395px;
  left: 140px;
}
.p9{
  top: 415px;
  left: 65px;
}

.p10, .p11, .p12, .p13, .p14, .p15, .p16, .p17, .p18, .p19, .p20{
  top: 400px;
  left: -40px;
}
