.element {  
  
  shape-outside: circle(50%);
  width: 200px;
  height: 200px;
}
ul.container {
  position: absolute;

}

ul.container li {
  list-style-type: none;
  padding: 1em;
  margin: 0;
  transition: font-size 0.6s ease-in-out;
}

ul.container li:nth-child(5) {
  border: 1px solid black;
  height: 20px;
  width: 200px;

  /* border-radius: 12px;
  font-size: 18px;
  box-shadow: 0px 2px 3px #eaeaea; */
}